.app.dark {
  --bg-color: #142850;
  --inverted-bg-color: #EDFFF3;

  --primary-color: #00A8CC;
  --secondary-color: #0C7B93;
  --inverted-primary-color: #354259;
  --inverted-secondary-color: #CDC2AE;
}