.app.light {
    --bg-color: #edfff3;
    --inverted-bg-color: #142850;
    --primary-color: #354259;
    --secondary-color: #cdc2ae;
    --inverted-primary-color: #00a8cc;
    --inverted-secondary-color: #0c7b93;
}
